[submodule "FP16"]
	path = nnet_lib/src/third_party/FP16
	url = https://github.com/xyzsam/FP16
[submodule "nnet_lib/src/third_party/Catch2"]
	path = nnet_lib/src/third_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "experiments"]
	path = experiments
	url = https://github.com/yaoyuannnn/experiments
